@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin section-title {
    text-transform: uppercase;
    font-weight: 700;
    color: $primary-color;
}