$font-primary: 'Montserrat', sans-serif;
$font-secondary: 'Work Sans', sans-serif;

$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;

$font-size-nav: 16px;
$font-size-paragraph: 18px;
$font-size-header: 40px;
$font-size-small-paragraph: 16px;

$color-primary: #8A40EE;
$color-text-main: #212353;
$color-text-light: #FFFFFF;
$color-text-secondary: #4B5D68;