// ===== Fonts =====
$font-lato: 'Lato', sans-serif;
$font-redhat: 'Red Hat Display', sans-serif;

// ===== Colors =====
$color-black: #000;
$color-gray: #565656;

// ===== Base font size =====
$font_size-base: 16px;